page-home {
    calendar{
        table{
            border: none !important;
            td,th{
                border: none !important;
                padding: 4% 0 !important;
            }
            td.monthview-selected{
                background: transparent !important;
                position:relative !important;
                &:after{
                    content: " ";
                    width: 10vw;
                    height: 10vw;
                    background: red;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    z-index: -1;
                    border-radius: 50%;
                }
            }
        }
        ion-list.event-detail-container{
            //display: none !important;
        }
    }
}
